<!DOCTYPE html>
<!--
Template Name: Gleblu
Author: <a href="https://www.os-templates.com/">OS Templates</a>
Author URI: https://www.os-templates.com/
Copyright: OS-Templates.com
Licence: Free to use under our free template licence terms
Licence URI: https://www.os-templates.com/template-terms
-->
<html>
<!-- To declare your language - read more here: https://www.w3.org/International/questions/qa-html-language-declarations -->
<head>
    <title>eResident</title>
    <link rel="icon" type="image/png" href="~/Scripts/Login/images/icons/favicon.ico" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link href="~/Scripts/Layout/styles/layout.css" rel="stylesheet" />
    <link href="~/Scripts/Layout/styles/framework.css" rel="stylesheet" />
    <link href="~/Scripts/Layout/styles/fontawesome-free/css/fontawesome-all.min.css" rel="stylesheet" />
    <style>
        body {
            background-color: white;
        }
    </style>
</head>
<body id="top">
    <div class="wrapper row1">
        <header id="header" class="hoc clear">
            <div id="logo" class="fl_left">
                <!-- ################################################################################################ -->
                <h1><a href="#">e-Resident</a></h1>
                <!-- ################################################################################################ -->
            </div>
            <nav id="mainav" class="fl_right">
                <!-- ################################################################################################ -->
                <ul class="clear">
                    <li class="active"><a href="@Url.Action("Index", "Resident")">Home</a></li>
                    <li>
                        <a class="drop" href="#">SERVICES</a>
                        <ul>
                            <li><a href="@Url.Action("BookService", "Resident")">BOOK SERVICE</a></li>
                            <li><a href="@Url.Action("ViewBookingList", "Resident")">VIEW BOOKING</a></li>
                        </ul>
                    </li>
                    @*<li>
            <a class="drop" href="#">Dropdown</a>
            <ul>
                <li><a href="#">Level 2</a></li>
                <li>
                    <a class="drop" href="#">Level 2 + Drop</a>
                    <ul>
                        <li><a href="#">Level 3</a></li>
                        <li><a href="#">Level 3</a></li>
                        <li><a href="#">Level 3</a></li>
                    </ul>
                </li>
                <li><a href="#">Level 2</a></li>
            </ul>
        </li>*@
                    <li><a href="@Url.Action("FileReport", "Resident")">Report</a></li>
                    <li><a href="@Url.Action("ViewVisitor", "Resident")">Visitor</a></li>
                    <li><a href="@Url.Action("ViewFacility", "Resident")">Facility</a></li>

                    <li>
                        <a class="drop" href="#"><i class="fas fa-user"></i> @Session["CurrentUsername"]</a>
                        <ul>
                            <li><a href="@Url.Action("Index", "Home")">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </header>
    </div>
    <div class="row3">
        <main class="container">
            @RenderBody()
        </main>
    </div>
    @* <div class="wrapper row5" style="position: fixed; bottom: 0; height:8%;"> *@
    <div class="wrapper row5" style="position: fixed; bottom: 0; height:8%;">
        <div id="copyright" class="hoc clear">
            <p class="fl_left">Copyright &copy; 2018 - All Rights Reserved - <a href="#">Domain Name</a></p>
            <p class="fl_right">Template by <a target="_blank" href="https://www.os-templates.com/" title="Free Website Templates">OS Templates</a></p>
        </div>
    </div>

    <a id="backtotop" href="#top"><i class="fas fa-chevron-up"></i></a>
    <!-- JAVASCRIPTS -->
    <script src="~/Scripts/Layout/scripts/jquery.backtotop.js"></script>
    <script src="~/Scripts/Layout/scripts/jquery.min.js"></script>
    <script src="~/Scripts/Layout/scripts/jquery.mobilemenu.js"></script>

</body>
</html>